<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 数据库基本操作 -->
<mapper namespace="cn.orditech.dao.impl.CourseDaoImpl">
    <sql id="columnMap">
            id as id,
            name as name,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
    </sql>
    <!--base operation start-->
    <insert id="insert" parameterType="cn.orditech.entity.Course" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO `course` (
            id ,
            name ,
            gmt_create ,
            gmt_modified 
        ) VALUES (
            #{id} ,
            #{name} ,
            #{gmtCreate} ,
            #{gmtModified} 
        )
    </insert>

    <delete id="delete">
        DELETE FROM `course`
        WHERE
            id = #{id} 
    </delete>
    
    <update id="updateById" parameterType="cn.orditech.entity.Course">
        UPDATE `course` 
        SET
            name = #{name} ,
            gmt_create = #{gmtCreate} ,
            gmt_modified = #{gmtModified} 
        WHERE
            id = #{id} 
    </update>
    
    <update id="updateSelectiveById" parameterType="cn.orditech.entity.Course">
        UPDATE `course`
        SET
            id = #{id} 
            <if test="name!=null" >,name = #{name}</if>
            <if test="gmtCreate!=null" >,gmt_create = #{gmtCreate}</if>
            <if test="gmtModified!=null" >,gmt_modified = #{gmtModified}</if>
        WHERE 
            id = #{id} 
    </update>
    
    <select id="selectOne" resultType="cn.orditech.entity.Course">
        SELECT <include refid="columnMap"></include>
        FROM `course`
        WHERE 
            id = #{id} 
    </select>
    
    <select id="selectList" resultType="cn.orditech.entity.Course">
        SELECT <include refid="columnMap"></include>
        FROM `course`
        WHERE 1=1
            <if test="id!=null" > AND id = #{id}</if>
            <if test="name!=null" > AND name = #{name}</if>
            <if test="gmtCreate!=null" > AND gmt_create = #{gmtCreate}</if>
            <if test="gmtModified!=null" > AND gmt_modified = #{gmtModified}</if>
    </select>
    <!--base operation end-->

    <!--customize operation start-->
</mapper>

